
<div class="container">
   <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
         <h1 class="text-center">Nuevo producto</h1>

            <%= form_for @product do |f| %>
               <div class="form-group">
                  <%= f.text_field :name, class:"form-control input-lg", placeholder:"Nombre del producto" %>
               </div>

               <div class="form-group">
                  <%= f.number_field :price, :step => 0.5, class:"form-control input-lg", placeholder:"Precio del producto" %>
               </div>

               <div class="form-group">
                  <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) do |b| %>
                    <div class="check-box">
                        <%= b.check_box %>
                        <%= b.text %>      
                     </div>
                  <% end %>
               </div>

               <%= f.submit class:"btn btn-info btn-lg btn-block" %>
             
            <% end %>
         
      </div>
   </div>
</div>
